<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="top mx-auto top-margin">
                <div class="text-center">
                    <p class="text-font text-color text-center">おばけ〜しょん</p>
                    <p class="text-color text-center top-subtitle">ー おばけだって夏休み ー<p>
                    <%= image_pack_tag 'media/images/top-obake.png', class: 'smaho-image smaho-image2' %>
                </div>
                <div class="text-center">
                    <button class="btn btn--orange btn--radius">すたーと</button>
                </div>
            </div>
        </div>
    </div>
</div>

